<!DOCTYPE html>

<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/pics/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrait" src="./pics/abc.JPG">
        </div>
    </body>
    <footer>
        {{>footer}}
    </footer>
</html>